In [1]:
import pandas as pd

In [2]:
p0 = pd.read_csv('prediccion_0.csv')
p1 = pd.read_csv('prediccion_1.csv')
p2 = pd.read_csv('prediccion_2.csv')
p3 = pd.read_csv('prediccion_3.csv')
p4 = pd.read_csv('prediccion_4.csv')

In [3]:
prediccion_zonas = pd.concat([p0,p1,p2,p3,p4])

In [4]:
prediccion_zonas.isna().sum()

date_rptd    0
count        0
y_hat        0
crimen       0
zona         0
dtype: int64

In [5]:
prediccion_zonas

       date_rptd  count  y_hat  crimen  zona
0     2020-02-09   70.0   72.0     104     0
1     2020-02-10   98.0   99.0     104     0
2     2020-02-11   86.0   88.0     104     0
3     2020-02-12   74.0   75.0     104     0
4     2020-02-13  107.0  109.0     104     0
...          ...    ...    ...     ...   ...
5221  2023-02-22    3.0    3.0     102     4
5222  2023-02-23    2.0    2.0     102     4
5223  2023-02-24    2.0    2.0     102     4
5224  2023-02-25    1.0    1.0     102     4
5225  2023-02-27    1.0    1.0     102     4

[27494 rows x 5 columns]

In [10]:
#prediccion_zonas.to_csv('prediccion_zonas.csv',index=False)