In [1]:
%pip install pandas
%pip install seaborn
%pip install matplotlib

Note: you may need to restart the kernel to use updated packages.

El nombre de archivo, el nombre de directorio o la sintaxis de la etiqueta del volumen no son correctos.

Note: you may need to restart the kernel to use updated packages.

El nombre de archivo, el nombre de directorio o la sintaxis de la etiqueta del volumen no son correctos.

Note: you may need to restart the kernel to use updated packages.

El nombre de archivo, el nombre de directorio o la sintaxis de la etiqueta del volumen no son correctos.

In [2]:
import pandas as pd
import seaborn as sns

In [5]:
df = pd.read_csv("../lapd.csv")

In [6]:
df.head()

,Unnamed: 0,dr_no,date_rptd,date_occ,time_occ,area,area_name,rpt_dist_no,part_1_2,crm_cd,...,status,status_desc,crm_cd_1,location,lat,lon,crm_cd_2,cross_street,crm_cd_3,crm_cd_4
0,0,10304468,2020-01-08T00:00:00.000,2020-01-08T00:00:00.000,2230,3,Southwest,377,2,624,...,AO,Adult Other,624.0,1100 W 39TH PL,34.0141,-118.2978,NaN,NaN,NaN,NaN
1,1,190101086,2020-01-02T00:00:00.000,2020-01-01T00:00:00.000,330,1,Central,163,2,624,...,IC,Invest Cont,624.0,700 S HILL ST,34.0459,-118.2545,NaN,NaN,NaN,NaN
2,2,200110444,2020-04-14T00:00:00.000,2020-02-13T00:00:00.000,1200,1,Central,155,2,845,...,AA,Adult Arrest,845.0,200 E 6TH ST,34.0448,-118.2474,NaN,NaN,NaN,NaN
3,3,191501505,2020-01-01T00:00:00.000,2020-01-01T00:00:00.000,1730,15,N Hollywood,1543,2,745,...,IC,Invest Cont,745.0,5400 CORTEEN PL,34.1685,-118.4019,998.0,NaN,NaN,NaN
4,4,191921269,2020-01-01T00:00:00.000,2020-01-01T00:00:00.000,415,19,Mission,1998,2,740,...,IC,Invest Cont,740.0,14400 TITUS ST,34.2198,-118.4468,NaN,NaN,NaN,NaN